 CONFIGURAÇÕES INICIAIS DO ROTEADOR 1

# COMANDO PARA ENTRAR
enable

# DEFININDO O NOME
configure terminal
hostname Roteador_1

# CONFIGURANDO MENSAGEM DE AVISO
banner motd @ Acesso Restrito! @

# DEFININDO A SENHA CRIPTOGRAFADA 
enable secret 0321

# CONFIGURAÇÃO DA INTERFACE LAN
interface GigabitEthernet0/0
ip address 192.168.0.254 255.255.255.0
no shutdown
exit 

# CONFIGURAÇÃO DO ACESSO REMOTO (TELNET)

line vty 0 4
password 0321
login
exec-timeout 0 0
end

# SALVANDO AS CONFIGURAÇÕES 
write