CLI_ROTEADOR-2 (CONFIGURAÇÃO SSH)

# COMANDO PARA ENTRAR
enable

# DEFININDO O NOME
configure terminal
hostname R_2

# DEFININDO A SENHA CRIPTOGRAFADA
enable secret 1234

# CONFIGURAÇÃO DO USUÁRIO ADMINISTRADOR
username admin privilege 15 secret 1234

# CONFIGURAÇÃO DA INTERFACE LAN
interface GigabitEthernet0/0
ip address 10.10.0.1 255.255.0.0
no shutdown
exit 

# CONFIGURAÇÃO DO ACESSO REMOTO (SSH)
ip domain-name testessh.com.br
crypto key generate rsa
1024
ip ssh version 2
ip ssh authentication-retries 3

line vty 0 4
transport input ssh
login local
exec-timeout 0 0
end

# SALVANDO AS CONFIGURAÇÕES
write